.Mybutton{
    background-color: red;
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
    display: block;
    margin: 0 auto;
    border-radius: 10vw;
    border: 2px solid black;
    float: left;
}

.primary{
    background-color: blue;
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
    display: block;
    margin: 0 auto;
    border-radius: 10vw;
    border: 2px solid black;
    float: left;
}

.success{
    background-color: green;
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
    display: block;
    margin: 0 auto;
    border-radius: 10vw;
    border: 2px solid black;
    float: left;
}


.secondary{
    background-color: gray;
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
    display: block;
    margin: 0 auto;
    border-radius: 10vw;
    border: 2px solid black;
    float: left;
}

.danger{
    background-color: magenta;
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
    display: block;
    margin: 0 auto;
    border-radius: 10vw;
    border: 2px solid black;
    float: left;
}

.warning{
    background-color: yellow;
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
    display: block;
    margin: 0 auto;
    border-radius: 10vw;
    border: 2px solid black;
    float: left;
}